<ul class="people_list">
  {{#each userlist}}
    <li>username :{{this.username}}</li>
    <li>email: {{this.email}}</li>
    <li>age: {{this.age}}</li>
    <li>city: {{this.city}}</li>
  {{/each}}
</ul>