<form method="post" action="/users">
  <div>
    <input type="text" name="username" placeholder="username"/>
  </div>
  <div>
    <input type="email" name="email" placeholder="email"/>
  </div>
  <div>
    <input type="number" name="age" placeholder="age"/>
  </div>
  <div>
    <select name="city" id=""/>
    <option value=""></option>
    <option value="Paris">Paris</option>
    <option value="Tokyo ">Tokyo</option>
    <option value="Los Angeles">Los Angeles</option>
    </select>
  </div>
  <button>Add</button>
</form>